h1 {
    text-align: center;
    background-color: aqua;
   }


   .grid{
    border-radius:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background:purple
   }
.grid img{
    border:2px solid black;
    border-radius:50px;
   
}



.origami{
    border-radius:20px;
    background-color:brown;

    width:360px; 
    font-family:fantasy ; 
    padding:30px;
    margin:25px;
}

.main{
    background-color:black
}